PUBLIC_WEB_URL=https://nyxoris.com
PUBLIC_API_URL=https://api.nyxoris.com
PUBLIC_AUTH_URL=https://auth.nyxoris.com

NEXT_PUBLIC_API_URL=${PUBLIC_API_URL}
NEXT_PUBLIC_KEYCLOAK_URL=${PUBLIC_AUTH_URL}
NEXT_PUBLIC_KEYCLOAK_REALM=platform
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=platform-merchant-web
